
.ipynb_checkpoints/image_alignment_task-checkpoint.ipynb
.ipynb_checkpoints/Canny_Edge_Detector-checkpoint.ipynb
__pycache__/canny_edge_detector.cpython-36.pyc
image_alignment_task.ipynb
image_alignment_task.ipynb
image_alignment_task.ipynb
